* {
    margin: 0;
    padding: 0;
}

body {

    background: rgba(247, 224, 242, 0.66);
}

header {
    display: grid;
    grid-auto-flow: row;
}


.menu {
    background: #76BEBE;
    justify-items: center;
    list-style: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    display: inline;
    cursor: pointer;
    color: #F5F5F5;
}

.submenu {
    display: flex;
    flex-direction: row;
    background: white;
    height: 160px;
    align-items: center;
    justify-content: center;

}

.submenu img {
    width: auto;
    height: 150px;
    position: relative;
}

.submenu #text {
    text-align: center;
    justify-content: center;
    color: #CF509C;
}


.submenu h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
}

.submenu h2, h2 {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: bold;
    text-align: center;
    color: black;
}

#subtitle{
    margin-top: 1rem;
}

#content{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}



.container{
    margin-left: 3rem;
    width: 200px;
    min-height: 200px;
    color: white;
    background: #CF509C;
    border-radius: 25px;
    text-decoration: none;

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}


.container h3{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 25px;
}


.container img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

